@media (prefers-color-scheme: dark) {
  .sidepanel {
    background-color: #333;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  .sidepanel {
    background-color: #fff;
    color: #333;
  }
}